<div class="card">
    <div class="card-body">
        <h1>Sobre nosotros</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente quis quos illum soluta, 
            atque tenetur! Velit ipsa hic, adipisci nam dolor sed maiores nihil a, architecto aut illo 
            tempore blanditiis aspernatur! Sunt ullam, facere dolores sed inventore commodi quo repellendus!</p>        
    </div>
</div>