<div class="jumbotron mt-4">

    <h1 class="display-4">notes app</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo natus voluptatibus quis, asperiores consectetur maiores quia velit corrupti, consequuntur nisi commodi distinctio esse maxime nobis omnis, quidem eligendi beatae error!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum aspernatur, libero earum beatae modi excepturi deleniti facilis dolores doloremque autem soluta laboriosam quo est ea in consequatur ratione voluptates? Qui.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Ir a google</a>
</div>